.main{
    display: flex;
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 15vw;
    margin-right: 15vw;
}
.block{
    margin-top: 2vh;
    width: 15vw;
}
.imgg{
    width: 90%;
}
.name{
    color: black;
    font-size: medium ;
}
.place{
    color: #929292;
    font-size: x-small;
}
.time{
    color: #727272;
    font-size: small;
    display: inline-flex;
    border: 1px solid #727272;
    float: left;
    clear: left;
    margin-top: 0.5ch;
    border-radius: 2ch;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
}